.container {
    display: flex;
    flex-direction: column;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    list-style-type: none;
    width: 350px;
    margin-right: 15px;
}

.img {
    border-radius: 25px;
    width: 100%;
}